<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>
<head>
  <title>Google+ JavaScript Quickstart</title>
  <!-- JavaScript specific to this application that is not related to API
     calls -->
  <script src="/js/application.js" ></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" ></script>
  <meta name="google-signin-client_id" content="1077496871426-3qsdu7rsiqiqlrroda2odb5l59ii419m.apps.googleusercontent.com"></meta>
</head>
<body>
  <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <a href="#" onclick="signOut();">Sign out</a> -->
  <%= yield %>
</body>
</html>
